{{#partial "content"}}

    <h1> List of Animals</h1>

    {{#if animals}}
        {{#each animals }}
            <p>List of added animals</p>
            <p>{{name}} </p><p>Edit<a href=""></a></p><p>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animals!</p>
    {{/if}}

    <h1> List of Sightings</h1>

    {{#if sighting}}
        {{#each sighting}}
            <p>{{location}} </p>
            <p>{{rangerName}} </p>

            </p><p>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animal sightings!</p>
    {{/if}}

    <h1> List of Endangered Animals</h1>

    {{#if endangered}}
        {{#each endangered}}
            <p>{{name}} </p>
            <p>{{health}} </p>

            </p><p>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No endangered animals!</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}