{{#partial "content"}}
<div class="container">
    <div class="row">
    <div class="col-sm 6">
    <h1> List of Animals</h1>

    {{#if animals}}
        {{#each animals }}
            <p>List of added animals</p>
            <p>Animal Name:{{name}} </p></p><p>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animals!</p>
    {{/if}}

    </div>

    <div class="col-sm-6">
    <h1> List of Sightings</h1>

    {{#if sighting}}
        {{#each sighting}}
            <p>Location:{{location}} </p>
            <p>Ranger Name{{rangerName}} </p>

            </p><p>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animal sightings!</p>
    {{/if}}
    </div>


</div>
</div>


{{/partial}}

{{> layout.hbs}}