{{#partial "content"}}
<div class="container">
    <div class="row">
    <div class="col-sm 4">
    <h1> List of Animals</h1>

    {{#if animals}}
        {{#each animals }}
            <p id ="animals">List of added animals</p>
            <p id = "aname">Animal Name:{{name}} </p><p id=""cdate>Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animals!</p>
    {{/if}}

    </div>

    <div class="col-sm-4">
    <h1> List of Sightings</h1>

    {{#if sighting}}
        {{#each sighting}}
            <p id="location">Location:{{location}} </p>
            <p id="ranger">Ranger Name{{rangerName}} </p>

            <p id="date">Date Created:{{created}}</p>
        {{/each}}
    {{else}}
        <p>No animal sightings!</p>
    {{/if}}
    </div>

        {{#if endangered}}
            {{#each endangered}}
                <p id="location">Location:{{name}} </p>
                <p id="ranger">Ranger Name{{health}} </p>

                <p id="date">Date Created:{{created}}</p>
            {{/each}}
        {{else}}
            <p>No Endangered animal sightings!</p>
        {{/if}}
    </div>


</div>
</div>


{{/partial}}

{{> layout.hbs}}